.main{
    background-color: aqua;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: blueviolet;
    padding: 20px;
    margin: 20px;
    color: white;
}
.item1{

    
}
.item2{

}
.item3{
   
}
.item4{
   

}